<form (ngSubmit)="addTimer()">
  <div class="form-group">
    <div class="form-item">
      <label for="timerName">Name</label>
      <input
        type="text"
        id="timerName"
        name="timerName"
        [(ngModel)]="timerName"
        class="form-control"
      />
    </div>
    <div class="form-item">
      <label for="timerDate">Countdown to date</label>
      <input
        type="date"
        id="timerDate"
        name="timerDate"
        [(ngModel)]="timerDate"
        class="form-control"
      />
    </div>
    <div class="form-item">
      <label for="timerTime">Time</label>
      <input
        type="time"
        id="timerTime"
        name="timerTime"
        [(ngModel)]="timerTime"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Add new Countdown Timer
    </button>
  </div>
</form>
<div
  *ngFor="let timer of timers$ | async; trackBy: trackTimers"
  class="timers-wrapper"
>
  <span class="timer-item-name">Name: {{ timer.name }} </span>
  <ng-container *ngIf="timer.timeInSeconds !== 0">
    <span class="timer-item">{{ timer.duration.years() ?? 0 }} years</span>
    <span class="timer-item">{{ timer.duration.months() ?? 0 }} months</span>
    <span class="timer-item">{{ timer.duration.days() ?? 0 }} day</span>
    <span class="timer-item">{{ timer.duration.hours() ?? 0 }} hours</span>
    <span class="timer-item">{{ timer.duration.minutes() ?? 0 }} minutes</span>
    <span class="timer-item">{{ timer.duration.seconds() ?? 0 }} seconds</span>
    <button
      *ngIf="!timer.paused"
      (click)="pauseTimer(timer)"
      type="button"
      class="btn btn-primary timer-item"
    >
      Pause
    </button>
    <button
      *ngIf="timer.paused"
      (click)="pauseTimer(timer)"
      type="button"
      class="btn btn-primary timer-item"
    >
      Start
    </button>
  </ng-container>
  <span class="timer-finished" *ngIf="timer.timeInSeconds === 0"
    >Countdown finished</span
  >
</div>
